################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PRMuIS_Projekat/FileContentIndex
/.vs
/Kontrola Leta
